/web/bundles/
/app/config/parameters.yml
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar

.idea/

.sass-cache/
node_modules/
bower_components/

zz

web/app/js/ga.js
app/Resources/public/js/ga.js

app/Resources/public/css/*
app/Resources/public/css/.gitkeep

var/bootstrap.test.php

web/built/js/*
web/built/css/*
!web/built/js/.gitkeep
!web/built/css/.gitkeep

web/app/js/*
web/app/css/*
!web/app/js/.gitkeep
!web/app/css/.gitkeep

web/js/
web/css/

web/resources/category/
!web/resources/category/.gitkeep

web/resources/product/
!web/resources/product/.gitkeep