<footer class="footer row" id="footer">

        <h4 class="text-right">{{ 'views.footer.title'|trans }}</h4>
        <h5 class="text-right"><small><a href="{{ path('fos_user_security_login') }}">{{ 'views.navbar.login'|trans }}</a></small></h5>

</footer>