.icon-x-large{
    font-size: 2.5rem;
}
.icon-large{
    font-size: 2rem;
}
.icon-medium{
    font-size: 1.5rem;
}
.icon-normal{
    font-size: 1rem;
}
@font-face {
    font-family: 'icomoon';
    src:url('/resources/fonts/icomoon.eot?-yb03qg');
    src:url('/resources/fonts/icomoon.eot?#iefix-yb03qg') format('embedded-opentype'),
    url('/resources/fonts/icomoon.woff?-yb03qg') format('woff'),
    url('/resources/fonts/icomoon.ttf?-yb03qg') format('truetype'),
    url('/resources/fonts/icomoon.svg?-yb03qg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e600";
}
.icon-pencil:before {
    content: "\e601";
}
.icon-podcast:before {
    content: "\e610";
}
.icon-file:before {
    content: "\e602";
}
.icon-phone:before {
    content: "\e603";
}
.icon-address-book:before {
    content: "\e604";
}
.icon-envelope:before {
    content: "\e605";
}
.icon-forward:before {
    content: "\e606";
}
.icon-reply:before {
    content: "\e607";
}
.icon-cog:before {
    content: "\e611";
}
.icon-remove:before {
    content: "\e608";
}
.icon-earth:before {
    content: "\e612";
}
.icon-flag:before {
    content: "\e613";
}
.icon-eye:before {
    content: "\e614";
}
.icon-close:before {
    content: "\e609";
}
.icon-checkmark:before {
    content: "\e60a";
}
.icon-minus:before {
    content: "\e60b";
}
.icon-plus:before {
    content: "\e60c";
}
.icon-googleplus:before {
    content: "\e60d";
}
.icon-facebook:before {
    content: "\e60e";
}
.icon-twitter:before {
    content: "\e60f";
}
