@import "settings";
@import "compass/css3";
@import "_icoonmoon";
@import "_owlcarousel";

li.category-box {
    background: #FFFFFF;
    @include single-transition(translate, 300ms, ease-in-out);
    div.fullfull {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        text-align: center;
        img {
            padding: 0.2 rem 1.75rem;
            z-index: 101;
        }
        h2.title-categorybox {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform-origin: 0 0;
            transition-duration: 500ms;
            z-index: 100;
            font-size: 1rem;
            line-height: 2rem;
            background: rgba(255, 255, 255, 0.35);
            a {
                color: $secondary-color;
            }
        }
    }
}

li.category-box:hover {
    div.fullfull {
        h2.title-categorybox {
            transform: translateY(-100%);
            transform-origin: 0 0;
            @include single-transition(all, 600ms, ease-in-out);
        }
    }
}

/*************************************** carrousel *************************************/
div.owl-item {
    div.item {
        position: relative;
        @include single-transition(all, 1000ms, ease-in-out);
        overflow: hidden;
        @media only screen and (max-width: 40em) {
            h2.title-itemhomebox {
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                transform-origin: 0 0;
                transition-duration: 500ms;
                transform: translateY(0);
                z-index: 100;
                font-size: 0.9rem;
                line-height: 1rem;
                background: rgba(255, 255, 255, 0.35);
                padding-top: 1rem;
                a {
                    color: $secondary-color;
                }
            }
            h3.title-itemhomebox {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transform-origin: 0 0;
                transition-duration: 500ms;
                transform: translateX(-100%);
                z-index: 100;
                font-size: 0.7rem;
                line-height: 1rem;
                background: rgba(255, 255, 255, 0.35);
                padding-bottom: 1rem;
                padding-right: 1rem;
                a {
                    color: $secondary-color;
                }
            }
        }
        @media only screen and (min-width: 40em) {
            h2.title-itemhomebox {
                position: absolute;
                bottom: 100%;
                left: 0;
                right: 0;
                transform-origin: 0 0;
                transition-duration: 500ms;
                transform: translateY(0);
                z-index: 100;
                font-size: 1.3rem;
                line-height: 2rem;
                background: rgba(255, 255, 255, 0.35);
                padding-top: 1rem;
                a {
                    color: $secondary-color;
                }
            }
            h3.title-itemhomebox {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                transform-origin: 0 0;
                transition-duration: 500ms;
                transform: translateX(-100%);
                z-index: 100;
                font-size: 0.9rem;
                line-height: 1.7rem;
                background: rgba(255, 255, 255, 0.35);
                padding-bottom: 1rem;
                padding-right: 1rem;
                a {
                    color: $secondary-color;
                }
            }
        }
        div.icon-carousel {
            display: block;
            position: absolute;
            bottom: 0;
            top: 0;
            width: 75px;
            cursor: pointer;
            img.iconmove {
                height: 100%;
                opacity: 0.07;
            }
        }
        div.icon-carousel:hover {
            background: rgba(255, 255, 255, 0.3);
        }
        div.icon-prev {
            left: 0;
        }
        div.icon-next {
            right: 0;
        }
    }
}

div.owl-item.active {
    div.item {
        position: relative;
        @include single-transition(all, 1000ms, ease-in-out);
        h2.title-itemhomebox {
            transform: translateY(100%);
            transform-origin: 0 0;
            @include single-transition(all, 1000ms, ease-in-out);
        }
        h3.title-itemhomebox {
            transform: translateX(0);
            transform-origin: 0 0;
            @include single-transition(all, 1000ms, ease-in-out);
        }
        div.icon-carousel img{
            display: none;
        }
    }
}

div.owl-wrapper-outer {
    position: relative;
    z-index: 99;
}


