@import "normalize";
@import "_settings";
@import "_foundation_mod";

$grey: #333333;
$heightfooter: 250px;
$heightfootermin: 200px;
$heightfootersmall: 400px;

html, body {
    height: 100%;
}

div.sticky {
    z-index: 105;
    nav.top-bar {
        z-index: 106;
    }
}

/******************************* footer *************************************/
@media only screen and (min-width: 40.063em) {
    .footer {
        .columns:nth-child(n+2) {
            border-left: 1px solid scale-color(#fff, $lightness: -30%);
            min-height: $heightfootermin;
        }
    }
}

@media only screen and (min-width: 40em) {
    .footer {
        background-color: $darkblue;
        padding: 1rem 2rem;
        text-align: center;
        margin-top: -$heightfooter;
        height: $heightfooter;
        color: $white;
    }
    div.container {
        height: auto;
        min-height: 100%;
        padding-bottom: $heightfooter;
    }
}

@media only screen and (max-width: 40em) {
    .footer {
        height: $heightfootersmall;
        margin-top: -$heightfootersmall;
        background-color: $darkblue;
        padding: 1rem 2rem;
        text-align: center;
        color: $white;
    }
    div.container {
        height: auto;
        min-height: 100%;
        padding-bottom: $heightfootersmall;
    }
}

.footer {
    h4 {
        color: $white;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p {
        text-align: justify;
        font-size: 0.8rem;
    }
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    a {
        color: $white;
        font-weight: 300;
        font-size: 0.8rem;
    }
    li {
        margin-top: .5rem;
    }
}

/********* logo tiers ***********/
span.logo-small-tiers {
    width: 40px;
    height: 40px;
    background-size: 120px 40px;
    display: inline-block;
}

.image-facebook {
    background-image: url('../../bundles/zimzimbundlesuser/images/logotiers.png');
    background-position: 0;
}

.image-google {
    background-image: url('../../bundles/zimzimbundlesuser/images/logotiers.png');
    background-position: 80px;
}

.image-twitter {
    background-image: url('../../bundles/zimzimbundlesuser/images/logotiers.png');
    background-position: 40px;
}

span.logo-small-vendor {
    width: 60px;
    height: 60px;
    background-size: 180px 60px;
    display: inline-block;
}

.image-facebook-vendor {
    background-image: url('../../bundles/zimzimbundlesuser/images/logo_vendor.png');
    background-position: 0;
}

.image-google-vendor {
    background-image: url('../../bundles/zimzimbundlesuser/images/logo_vendor.png');
    background-position: 120px;
}

.image-youtube-vendor {
    background-image: url('../../bundles/zimzimbundlesuser/images/logo_vendor.png');
    background-position: 60px;
}

/************************ Tools **************/
.pointer {
    cursor: pointer;
}

.nomargin {
    margin: 0 !important;
}

.vertical-middle {
    vertical-align: middle;
}

.width-100, .full-width {
    width: 100%;
    max-width: 100%;
}

/************************ Top bar **************/
nav.top-bar span.title {
    line-height: 45px;
    padding-left: 1rem;
    height: 45px;
    a {
        color: $white;
    }
}

/************** COLOR **********************/
.bg-lightwhite {
    background: $lightwhite;
}

.border-lightwhite {
    border: 1px SOLID $lightwhite;
}

/***************** category *******************/
.title-category {
    padding: 1rem 0 0.5rem 0;
    font-weight: bold;
}

.fake-h1-category {
    height: $h1-font-size;
    margin-top: $header-top-margin;
    margin-bottom: $header-bottom-margin;
    display: block;
    padding: 1rem 0 0.5rem;
}

.case-category {
    background: $lightwhite;
    border: 1px DASHED $black;
}

/************* image **************/
img.img-medium {

}

/********************/
select.select-multiple {
    height: 9rem !important;
}

/****************** */
hr.category {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/*********************************************** change langage flag ************************************/
span.country-flag {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    display: block;
    width: 37px;
    height: 25px;
    background: url('../../bundles/zimzimbundlesuser/images/flags.png') 0 0 no-repeat;
}

.flag-fr {
    background-position: 0 0 !important;
}

.flag-en {
    background-position: -38px 0 !important;
}

.flag-al {
    background-position: -76px 0 !important;
}

.flag-es {
    background-position: -114px 0 !important;
}

.flag-ru {
    background-position: -151.7px 0 !important;
}

/****************** page home *******************************/
p.paratitle {
    font-size: 1.7rem;
    color: $primary-color;
    text-align: center;
}

h1.headertitle {
    font-size: 2rem;
    color: $black;
}

li.homebox {
    @include single-transition(all, 300ms);
    h2 {
        color: $secondary-color;
        font-size: 1.75rem;
        text-align: center;
    }
    p.parahome {
        color: $black;
        font-size: 1.1rem;
        padding: 0.5rem;
        text-align: justify;
    }
}

li.homebox:hover {
    background: $primary-color;
    @include single-transition(all, 300ms);
    h2 {
        color: $white
    }
    p.parahome {
        color: $white;
    }
}

p.paraplus{
    padding: 2rem 0.5rem;
    color: $black;
}
h2.titlehome{
    color: $secondary-color;
}

/************************ product *******************************/
div.product-image {
    img.product-max {
        max-height: 400px;
    }
    li {
        text-align: center;
        img.product-mini {
            max-height: 75px;
        }
    }
    li:hover {
        background: $primary-color;
    }
}

li.productbox {
    @include single-transition(all, 300ms);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px SOLID $secondary-color;
    h2 {
        color: $secondary-color;
        font-size: 1.75rem;
        text-align: center;
    }
    p {
        color: $black;
        font-size: 1.1rem;
        padding: 0.5rem;
        text-align: justify;
    }
}

li.productbox:hover {
    background: $primary-color;
    @include single-transition(all, 300ms);
    h2 {
        color: $white;
    }
    p {
        color: $white;
    }
}
div.home{
    margin:0;
    padding: 0.5rem 0;
}